{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href={% static "css/iconfonts.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "fonts/ubuntu/*" %}>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>

<body>
    <!-- Подключаем хэдер -->
    {% include 'include/header.html' %}
    
    <div class="container">

        <div>
            {% block content %}{% endblock %}
        </div>

    </div>

</body>

</html>