{% load static %}
<header class="header">
    {% if request.user.is_authenticated %}
    <div class="container">

        <div class="menu">
            <div>
                <a href="{% url 'account:dashboard' %}"><img src="{% static "images/logo.png" %}" alt="" class="logo"></a>
            </div>
            <div>
                <a href="{% url 'account:dashboard' %}">Рабочий стол</a>
            </div>
            <div>
                <a href="{% url 'account:profile_list' %}">Наша команда</a>
            </div>
            <div>
                <a href="{% url 'crm:client_list' %}">CRM</a>
            </div>
            <div>
                <a href="{% url 'crm:client_new' %}">Новый клиент</a>
            </div>

            {% if request.user.is_authenticated %}
            <div>
                <a href="{{ request.user.profile.get_absolute_url }}">{{ request.user.profile.user.first_name }} {{ request.user.profile.user.last_name }}</a>
            </div>
            <div><a href="{% url 'logout' %}">Выйти</a></div>
            <div><a href="{{ request.user.profile.get_absolute_url }}"><img src="{% if request.user.profile.photo %}{{ request.user.profile.photo.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" alt="" class="avatar"></a></div>
            {% else %}
            <div><a href="{% url 'login' %}">Войти</a></div>
            {% endif %}
        </div>

    </div>
    {% endif %}
</header>