{% extends 'base.html' %}
{% load static %}

{% block title %}{{ first_name }} {{ last_name }}{% endblock title %}

{% block content %}
    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>

    <img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" alt="" width="280" height="360">
        
    
    <p>{{ profile.position }}</p>
    <p>{{ profile.about }}</p>
    <p>{{ profile.date_of_birth }}</p>
    <p>{{ profile.user.email }}</p>
    <a href="{{ profile.get_absolute_url }}edit/">Изменить свой профиль</a>
{% endblock content %}
