{% extends "crm/base.html" %}
{% block title %}CRM :: Fresh Group{% endblock %}
{% block content %}
<h1>{{ client.title }}</h1>
<p class="date">Создан {{ client.created }} {{ client.responsible.first_name }} {{ client.responsible.last_name }}</p>
<p>{{ client.first_call|linebreaks }}</p>
<p>{{ client.decision_maker|linebreaks }}</p>
<a href="tel:{{ client.phone|linebreaks }}">{{ client.phone|linebreaks }}</a>
<a href="mailto:{{ client.email|linebreaks }}">{{ client.email|linebreaks }}</a>
<p>{{ client.next_call|linebreaks }}</p>

<a href="{{ client.get_absolute_url }}edit/">изменит</a>

{% endblock %}