{% extends 'crm/base.html' %}

{% load static %}

{% block title %}Редактирование профиля {{ client.title }}{% endblock title %}

{% include 'include/header.html' %}

{% block content %}
    
    <form method="POST" enctype="multipart/form-data">
        <h1 class="crm_h1">Создание/редактирование клиента</h1>
        <p>Название: {{ client_form.title }}</p>
        <p>Город: {{ client_form.city }}</p>
        <p>Адрес: {{ client_form.address }}</p>
        <p>ЛПР: {{ client_form.decision_maker }}</p>
        <p>Телефон: {{ client_form.phone }}</p>
        <p>Электронная почта: {{ client_form.email }}</p>
        
        {% if client_new %}
        <p>Первый звонок: {{ client_form.first_call }}</p>
        {% endif %}
            
        <p>Следующий звонок: {{ client_form.next_call }}</p>
        <p>Описание компании: {{ client_form.description }}</p>
        {% csrf_token %}
        <button type="submit">Сохранить изменения</button>
    </form>

{% endblock content %}